{% extends 'announcements/base.html' %}

{% load static %}

{% block title %}
LegFed: Past Meetings
{% endblock %}

{% block announcements_content %}

<h1>Past Meetings</h1>

<ul>
{% for announcement in past_announcements_list reversed %}
    <li>
    {% if announcement.start_date.year == announcement.end_date.year and announcement.start_date.month == announcement.end_date.month and announcement.start_date.day == announcement.end_date.day %}
        <b>{{ announcement.end_date|date:"j M Y" }}</b>:
    {% elif announcement.start_date.year == announcement.end_date.year and announcement.start_date.month == announcement.end_date.month %}
        <b>{{ announcement.start_date|date:"j" }}-{{ announcement.end_date|date:"j M Y" }}</b>:
    {% elif announcement.start_date.year == announcement.end_date.year %}
        <b>{{ announcement.start_date|date:"j M" }}-{{ announcement.end_date|date:"j M Y" }}</b>:
    {% else %}
        <b>{{ announcement.start_date|date:"j M Y" }}-{{ announcement.end_date|date:"j M Y" }}</b>:
    {% endif %}
    <a href="{{ announcement.url }}">{{ announcement.description }}</a>, {{ announcement.location }}
    </li>
{% empty %}
    <p>No past meetings.</p>
{% endfor %}
</ul>

{% endblock %}

