{% extends 'polls/base.html' %}

{% block polls_content %}
<div class="poll-question">{{ poll.question }}</div>

{% if error_message %}
<div class="poll-error">{{ error_message }}</div>
{% endif %}

<div class="poll-choices">
  <form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <br/>
    {% endfor %}
    <hr/>
    <input type="submit" value="Vote!" />
  </form>
</div>
{% endblock %}
