<div class="plugin-blog">
<h3>Register GWAS Data</h3>

<!-- For convenience we are not using HTML forms, but the form would begin here -->
<p>
Genus <select id="genusMenu" onchange="updateSpeciesMenu()"></select>
Species <select id="speciesMenu" onchange="updateGenomeMenu()"></select>
</p>
<p>
Genome <select id="genomeMenu" onchange="updateMetadata()"></select>
&rarr;
Infraspecies=<span id="infraspecies"></span>,
Origin=<span id="origin"></span>
</p>

<p>Enter or <button type="button" onclick="clearGwasMetadata()">Clear</button> your GWAS metadata:</p>
<p>
URL of GWAS file <span id="error-url" style="color: red"></span>
<input type="text" id="url" size=100 placeholder="http://www.trichomes.org/trichomes.gwas">
</p>
<p>
Contact person <span id="error-contact" style="color: red"></span>
<input type="text" id="contact" placeholder="Your Name">
e-mail <span id="error-email" style="color: red"></span>
<input type="text" id="email" size=30 placeholder="someone@somewhere.org">
</p>
<p>
{% csrf_token %}
<button type="button" onclick="submitGwasMetadata()">Register</button>
<span id="post-success" style="color: green"></span>
<span id="post-error" style="color: red"></span>
</p>
<!-- and the form would end here -->
</div>

<!-- ----------------------------------------------------------------------- -->
<script>

// DSCensor base URLs
var baseUrl = "http://dev.lis.ncgr.org:50020/api/v1/";
var baseUrlTaxa = baseUrl + "taxa-list/";
var baseUrlMetadata = baseUrl + "nodes/labels/";

document.getElementById("genusMenu").onload = updateGenusMenu();

// Capitalize the first letter of the string s
function title(s) {
    return s[0].toUpperCase() + s.substring(1);
}

function getSelectedGenus() {
    var genusMenu = document.getElementById("genusMenu");
    return genusMenu.options[genusMenu.selectedIndex].value;
}

function getSelectedSpecies() {
    var speciesMenu = document.getElementById("speciesMenu");
    return speciesMenu.options[speciesMenu.selectedIndex].value;
}

function getSelectedGenome() {
    var genomeMenu = document.getElementById("genomeMenu");
    return genomeMenu.options[genomeMenu.selectedIndex].value;
}

// Populate the Genus menu from DSCensor
function updateGenusMenu() {
    var genusMenu = document.getElementById("genusMenu");

    // Clear the genus menu
    for (var i = genusMenu.options.length - 1; i >= 0; i--) {
        genusMenu.options[i] = null;
    }
    // Populate the genus menu
    var genusList;
    $.getJSON(baseUrlTaxa, function(obj) {
        //console.log(obj.data);
        genusList = obj.data;
        for (var i = 0; i < genusList.length; i++) {
            var e = document.createElement("option");
            e.textContent = title(genusList[i]);
            e.value = genusList[i];
            genusMenu.appendChild(e);
        }
        // Populate the species menu
        updateSpeciesMenu();
    });
}

// Populate the Species menu from DSCensor
function updateSpeciesMenu() {
    var speciesMenu = document.getElementById("speciesMenu");

    // Clear the species menu
    for (var i = speciesMenu.options.length - 1; i >= 0; i--) {
        speciesMenu.options[i] = null;
    }

    // Populate the species menu
    var speciesList;
    $.getJSON(baseUrlTaxa + getSelectedGenus(), function(obj) {
        //console.log(obj.data);
        speciesList = obj.data;
        for (var i = 0; i < speciesList.length; i++) {
            var e = document.createElement("option");
            e.textContent = speciesList[i];
            e.value = speciesList[i];
            speciesMenu.appendChild(e);
        }
        // Populate the genome menu
        updateGenomeMenu();
    });
}

// Populate the Genome menu from DSCensor
function updateGenomeMenu() {
    var genomeMenu = document.getElementById("genomeMenu");

    // Clear the genome menu
    for (var i = genomeMenu.options.length - 1; i >= 0; i--) {
        genomeMenu.options[i] = null;
    }

    // Populate the genome menu
    var fastaList;
    $.getJSON(baseUrlMetadata + getSelectedGenus() + ":" + getSelectedSpecies() + ":fasta", function(obj) {
        //console.log(obj.data);
        fastaList = obj.data;
        for (var i = 0; i < fastaList.length; i++) {
            var e = document.createElement("option");
            e.textContent = fastaList[i].name;
            e.value = fastaList[i].name;
            genomeMenu.appendChild(e);
        }
        // Populate metadata
        updateMetadata();
    });
}

// Populate certain metadata fields from the selected genome
function updateMetadata() {
    // Populate the metadata
    var genomeMenu = document.getElementById("genomeMenu");
    $.getJSON(baseUrlMetadata + getSelectedGenus() + ":" + getSelectedSpecies() + ":fasta", function(obj) {
        var metadata = obj.data[genomeMenu.selectedIndex];
        var infraspeciesSpan = document.getElementById("infraspecies");
        infraspeciesSpan.innerHTML = metadata.infraspecies;
        var originSpan = document.getElementById("origin");
        originSpan.innerHTML = metadata.origin;
    });
}

// Clear all messages
function clearGwasMessages() {
    var fields = [ "error-url", "error-contact", "error-email", "post-success", "post-error" ];
    for (var i = 0; i < fields.length; i++) {
        document.getElementById(fields[i]).innerHTML = "";
    }
}

// Clear all fields
function clearGwasMetadata() {
    var fields = [ "url", "contact", "email" ];
    for (var i = 0; i < fields.length; i++) {
        document.getElementById(fields[i]).value = "";
    }
    clearGwasMessages();
}

// Validators (quick and dirty ones, for now)
function isValidText(text) {
    return text.length > 0;
}
function isValidEmail(text) {
    len = text.length;
    iAt = text.indexOf('@');
    return len > 2 && iAt > 0 && iAt < (len - 1);
}
function isValidUrl(text) {
    return text.length > 0;
}

// Do something with the GWAS metadata
function submitGwasMetadata() {
    clearGwasMessages();

    var url = document.getElementById("url").value;
    var name = url.substr(url.lastIndexOf('/') + 1);
    var contact = document.getElementById("contact").value;
    var email = document.getElementById("email").value;

    var valid = true;
    if (!isValidUrl(url)) {
        document.getElementById("error-url").innerHTML = "Invalid -";
        valid = false;
    }
    if (!isValidText(contact)) {
        document.getElementById("error-contact").innerHTML = "Invalid -";
        valid = false;
    }
    if (!isValidEmail(email)) {
        document.getElementById("error-email").innerHTML = "Invalid -";
        valid = false;
    }
    if (!valid) return;

    var obj = {};
    obj.data = {};
    obj.data.filetype = "gwas";
    obj.data.genus = getSelectedGenus();
    obj.data.species = getSelectedSpecies();
    obj.data.genome = getSelectedGenome();
    obj.data.infraspecies = document.getElementById("infraspecies").innerHTML;
    obj.data.origin = document.getElementById("origin").innerHTML;
    obj.data.url = url;
    obj.data.name = name;
    obj.data.contact = contact;
    obj.data.email = email;

    var json = JSON.stringify(obj);
    //console.log(json);
    $.ajax({
        url: "gwas/",
        type: "POST",
        data: { json, csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken').val() },
        success: function(result) {
            //console.log(json);
            document.getElementById("post-success").innerHTML = '&rarr; Successfully registered ' + url;
        },
        error: function(e) {
            console.log(e);
            document.getElementById("post-error").innerHTML = '&rarr; Error ' + e.status;
        }
    });
}

</script>
<!-- ----------------------------------------------------------------------- -->

