{% extends 'base.html' %}

{% load static %}

{% block title %}
LegFed: Linkouts
{% endblock %}

{% block content %}

<h1>Linkouts</h1>

<div style="padding: 8px; background-color: #ddeeff">
<h4>Gene linkouts</h4>
<p>
To return results aggregated across available linkout services, enter a gene name.
</p>
Gene name <input type="text" id="gene" size=60>
<br>
<button type="button" onclick="exampleGene()">Example</button>
<button type="button" onclick="submitGene()">Submit</button>
</div>

<p>

<div style="padding: 8px; background-color: #ffeedd">
<h4>Genomic regions</h4>
<p>
To return results aggregated across available linkout services, enter a sequence name and start &amp; end positions (in bp).
</p>
Sequence name <input type="text" id="seqname" size=60>
<br>
Start position <input type="text" id="start" size=12>
End position <input type="text" id="end" size=12>
<br>
<button type="button" onclick="exampleGenomicRegion()">Example</button>
<button type="button" onclick="submitGenomicRegion()">Submit</button>
</div>

{% if not label|length == 0 %}

<hr>
<h4>Results for {{ linkout_type }} = {{ label }}</h4>
<ul>
{% for l in aggregated_links %}
  <li><a href="{{ l.0 }}" target="_blank">{{ l.1 }}</a>
{% empty %}
  <li>No links found.
{% endfor %}
</ul>

{% endif %}

<!-- ----------------------------------------------------------------------- -->
<script>

function exampleGene() {
    document.getElementById("gene").value = "medtr.Medtr5g017810";
}

function submitGene() {
    var gene = document.getElementById("gene").value.trim();
    if (gene.length == 0) {
        window.location = '?';
    } else {
        window.location = '?gene=' + gene;
    }
}

function exampleGenomicRegion() {
    document.getElementById("seqname").value = "medtr.jemalong_A17.gnm5.MtrunA17Chr1";
    document.getElementById("start").value = "1";
    document.getElementById("end").value = "1000000";
}

function submitGenomicRegion() {
    var seqname = document.getElementById("seqname").value.trim();
    var start = document.getElementById("start").value.trim();
    var end = document.getElementById("end").value.trim();
    // strip leading zeros, if any
    ns = parseInt(start);
    ne = parseInt(end);
    if (seqname.length == 0 || ns <= 0 || isNaN(ns) || ne <= 0 || isNaN(ne)) {
	window.location = '?';
    } else {
        start = String(ns);
        end = String(ne);
        window.location = '?seqname=' + seqname + '&start=' + start + '&end=' + end;
    }
}

</script>
<!-- ----------------------------------------------------------------------- -->

{% endblock %}

